<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

  <div class="navbar">
    <div class="dropdown">
      <button class="dropbtn"> 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
    <a href="/">{{page_name}}</a>
    <div class="login_register">
      <a href="/register">{{register}}</a> 
      <a routerLink='/login'>{{login}}</a>  
    </div>
  </div>
  
  <div class="main_content">
      <router-outlet></router-outlet>
  </div>
</body>
