<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>

  <div class="navbar">
    <div class="dropdown">
      <button class="dropbtn">
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a id= "viewprojects" href="viewprojects">Projetos Voluntariado</a>
        <a id= "createProject" href="createProject">Propor Voluntariado</a>
        <a id = "createProjectOrg" href="createProjectOrg">Propor Voluntariado Empresa</a>
        <a id = "statistics" href="#">Estatisticas</a>
        <a id = "users" href="users">Gerir Utilizadores</a>
        <a id = "orgs" href="orgs">Gerir Organizações</a>
        <a id = "projects" href="projects">Gerir Projetos</a>
        <a id = "others" href="#">Outros</a>
      </div>
    </div>
    <a href="/">{{page_name}}</a>
    <div class="login_register">
      <a id = "profile" routerLink="/profile">{{profile}}</a>
      <a id = "register" routerLink="/register">{{register}}</a>
      <a id = "register_org" routerLink="/register_org">{{register_org}}</a>
      <a id = "login" routerLink='/login'>{{login}}</a>
      <a id = "logout" (click)="userLogoutModule()">Logout</a>
    </div>
  </div>

  <div class="main_content">

      <router-outlet></router-outlet>
  </div>
</body>
