<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

  <div class="navbar">
    <div class="dropdown">
      <button class="dropbtn"> 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Projetos Voluntariado</a>
        <a href="#">Propor Voluntariado</a>
        <a href="#">Propor Voluntariado Empresa</a>
        <a href="#">Estatisticas</a>
        <a href="#">Gerir Utilizadores</a>
        <a href="#">Gerir Organizações</a>
        <a href="projects">Gerir Projetos</a>
        <a href="#">Outros</a>
      </div>
    </div>
    <a href="/">{{page_name}}</a>
    <div class="login_register">
      <a routerLink="/profile">{{profile}}</a> 
      <a routerLink="/register">{{register}}</a> 
      <a routerLink='/login'>{{login}}</a>  
    </div>
  </div>
  
  <div class="main_content">
      <router-outlet></router-outlet>
  </div>
</body>
