<h3>Todos os projetos de voluntariado disponiveis</h3>


<table class="table table-hover">
  <thead>
      <tr>
        <th scope="col">Nome do Projeto</th>
        <th scope="col">Data de inicio</th>
        <th scope="col">Horas de Trabalho</th>
        <th scope="col">Local: </th>
        <th scope="col">Descrição: </th>
        <th scope="col">Estado: </th>
        <th scope="col">Ação 1</th>
      </tr>
    </thead>
    <tbody id="projects">
      <tr>
        <td></td>
        <td>Loading...</td>
        <td></td>
      </tr>
</table>
