<h3>Lista de Projetos de Voluntariado</h3>

<div class="search-container">
    <form action="/">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

<div style="overflow-x:auto;">
    <table>
      <tr>
        <th>Nome</th>
        <th>Utilizador</th>
        <th>Data Inicio</th>
        <th>Data Fim</th>
        <th>Hora Inicio</th>
        <th>Hora Fim</th>
        <th>Localização</th>
        <th>Estado</th>
        <th>Alterar Detalhes</th>
        <th>Eliminar</th>
      </tr>
      <tr>
        <td>Projeto 1</td>
        <td>Zé</td>
        <td>2020-05-01</td>
        <td>2020-05-01</td>
        <td>10h30</td>
        <td>17h50</td>
        <td>Rua das Laranjeiras</td>
        <td>Não</td>
        <td>Editar</td>
        <td>Apagar</td>
      </tr>
      <tr>
        <td>Projeto 2</td>
        <td>Maria</td>
        <td>2020-05-10</td>
        <td>2020-05-12</td>
        <td>10h30</td>
        <td>17h50</td>
        <td>Rua das Maças</td>
        <td>Aprovado</td>
        <td>Editar</td>
        <td>Apagar</td>
      </tr>
      <tr>
        <td>Projeto 3</td>
        <td>Organização KKK</td>
        <td>2020-05-20</td>
        <td>2020-05-24</td>
        <td>09h30</td>
        <td>18h</td>
        <td>Lisboa</td>
        <td>Por aprovar</td>
        <td>Editar</td>
        <td>Apagar</td>
      </tr>
    </table>
  </div>
