<h3>Lista de Projetos de Voluntariado</h3>

<div class="search-container">
    <form action="/">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>

  <a routerLink="/createProject">Criar Novo Projeto</a>
<div style="overflow-x:auto;">
    <table>
      <tr>
        <th>Nome</th>
        <th>Utilizador</th>
        <th>Data Inicio</th>
        <th>Data Fim</th>
        <th>Hora Inicio</th>
        <th>Hora Fim</th>
        <th>Localização</th>
        <th>Estado</th>
        <th>Alterar Detalhes</th>
        <th>Eliminar</th>
      </tr>
      <tr *ngFor="let entity of entities; index as index">
        <td>{{ entity.name }}</td>
        <td>{{ entity.user }}</td>
        <td>{{ entity.datebegin }}</td>
        <td>{{ entity.dateend }}</td>
        <td>{{ entity.hourbegin }}</td>
        <td>{{ entity.hourend }}</td>
        <td>{{ entity.local }}</td>
        <td>{{ entity.state }}</td>
        <td><button type=submit class="btn btn-primary"  (click)="editProject('Projeto 1')">Editar</button></td>
        <td><button type=button class="btn btn-primary"  (click)="deleteProject('Projeto 1')">Apagar</button></td>
     </tr>
    </table>
  </div>

