<h1>Login</h1>

<div class= "form_container">
    <div class="form_divs">
            <div class="row">
                <div class="col-25">
                    <label>{{email}}</label>
                </div>
                <div class="col-75">
                    <input type="email" id="email" placeholder="exemplo@hotmail.com"/>
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label>{{password}}</label>
                </div>
                <div class="col-75">
                    <input type="password" id="password" placeholder="P1ss_wOr4"/>  <br>
                </div>
            </div>

            <input type='submit' value='Entrar' (click)="userLoginModule()"/>
    </div>
</div>
