/*         Main Body          */

  .main_content {
    overflow: hidden;
    margin-top: 4%;
    margin-left: 3%;
    margin-right: 3%;
    float: center;
    text-align: center;
  }

  .main_frame {
    overflow: hidden;
    float: top;
    text-align: center;
    clear: both;
  }

  .col-25 {
    float: left;
    width: 30%;
    margin-left: 20%;
    margin-top: 1%;

  }
  
  .col-75 {
    float: left;
    margin-left: 2%;
    margin-top: 1%;
    width: 30%;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
  }

  label {
    padding: 12px 12px 12px 0;
    float: left;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  

  input[type=submit]{
    margin-left: 13.5%;

  }

  input[type=submit],input[type=reset]  {
    background-color: #4991ce;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: center;
    margin-top: 1%;
    width: 17.5%;
  }
  
  input[type=submit]:hover, input[type=reset]:hover {
    background-color: #2a4f70;
  }

  .form_divs {
    float:left;
    width:60%;
    border-style: double;
    border-color: #8ac6fa;
  }

  .form_container {
    margin-left: 35%;
  }