
<div class ="main_frame">
    <h1>Novo projeto de voluntariado</h1>
</div>

<div class= "form_container">
    <div class="form_divs">
        <form>
            <div class="row">
                <div class="col-25">
                    <label>Nome</label>
                </div>
                <div class="col-75">
                    <input type="text" id="name" placeholder="Nome do projeto..."/>
                </div>
            </div>
    
            <div class="row">
                <div class="col-25">
                    <label>Data de Inicio</label>
                </div>
                <div class="col-75">
                    <input type="date" id="begindate" placeholder="01-01-2020" />
                </div>
            </div>
            
            <div class="row">
                <div class="col-25">
                    <label>Data de Fim</label>
                </div>
                <div class="col-75">
                    <input type="date" id="enddate" placeholder="01-01-2020" />
                </div>
            </div>
    
            <div class="row">
                <div class="col-25">
                    <label>Localização</label>
                </div>
                <div class="col-75">
                    <input type="text" id="local" placeholder="Morada do evento..."/>  <br>
                </div>
            </div>
       
            <div class="row">
                <div class="col-25">
                    <label>Detalhes</label>
                </div>
                <div class="col-75">
                    <textarea id="w3review" name="w3review" rows="4" cols="50" placeholder="Detalhes do evento">
                    </textarea>
                </div>
            </div>
            <input type="reset"value='Registar' (click)="createProject()" />
            <input type="reset" value = "Limpar Campos">
        </form>
    </div>
</div>
    
