<div class ="main_frame">
  <div class="w3-content w3-display-container">
    <img class="mySlides" src="assets/img/image3.jpg">
    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
  </div>

</div>
  <div class="feature_frame">
    <h1> Destaques </h1>
    <div class="mini-features">
      <a href="#home">Box 1</a> 
      <a href="#home">Box 2</a>  
      <a href="#home">Box 3</a>  
      <a href="#home">Box 4</a>  
    </div>
</div>